{% extends 'base.html' %}
{% block title %}
Main Page
{% endblock %}

{% block content %}
    <ul>
        {% for person in persons %}
            <li>
                <p>
                    {{ person.id }}. <a href="show/{{person.id }}">{{ person.name }} {{ person.surname }}</a>
                    <a href="modify/{{ person.id }}"><button>Modify</button></a>
                    <a href="delete/{{ person.id }}"><button>Delete</button></a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <p><a href="new"><button>Add New Person</button></a></p>
{% endblock %}

{% block footer %}
Main Page View
{% endblock %}
